@import "tailwindcss";
@import "primeicons/primeicons.css";

.text-primary {
  color: #1f1d20;
}

.text-secondary {
  color: #6a6272;
}

.text-light {
  color: #dee2e6;
}

h1,
h2,
h3,
p,
a {
  color: #1f1d20;
}
